---
layout: home
main_image_path:
main_image_caption:
show_carousel: true
carousel:
  - image: /assets/images/slide_commissioned.jpg
    caption: "A test caption"
    alink: /community-commissioned/
  - image: /assets/images/slide_personal.jpg
    caption: "A test caption"
    alink: /personal/
  - image: /assets/images/slide_dance.jpg
    caption:
    alink: /dance/
  - image: /assets/images/slide_theatre.jpg
    caption:
    alink: /theatre/
  - image: /assets/images/slide_music.jpg
    caption:
    alink: /music/
  - image: /assets/images/slide_portraits.jpg
    caption:
    alink: /portraits/
  - image: /assets/images/slide_links.jpg
    caption:
    alink: /links/
  - image: /assets/images/slide_intro.jpg
    caption:
    alink: /contact/
_options:
  layout:
    hidden: true
  main_image_path:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  image:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
_comments:
  main_image_path: Cover image
  main_image_caption: Alt text for cover image
  carousel: Edit the slideshow
  show_carouse: Show the slideshow
  show_blog: Show your latest posts on the homepage
  posts_number: How many posts to show
  alink: Optional web link from the slide
  caption: optional caption
---
  {% if page.main_image_path %}
  <!-- parallax picture please -->
    <figure>
    {% assign alt_text = page.title %}
    {% if page.main_image_caption %} {% assign alt_text = page.main_image_caption %} {% endif %}
    {% include img.html src=page.main_image_path alt=alt_text %}
    <figcaption>{{ alt_text }}</figcaption>
    </figure>
  {% endif %}

  <div class="editable">

  </div>

  {% if page.show_carousel and page.carousel %}

  <section class="slideshow">

    <div class="flexslider">
        <ul class="slides">
          {% for slides in page.carousel %}
          <li>
            {% if slides.alink %}
               <a href="{{ site.baseurl }}{{ slides.alink }}" title="View project">
            {% endif %}
            {% include img.html src=slides.image width=960 alt=slides.caption %}
            {% if slides.alink %}
              </a>
            {% endif %}
            {% if slides.caption %}
              <p class="flex-caption">{% if slides.alink %}<a href="{{ site.baseurl }}{{ slides.alink }}" title="View project">{% endif %}{{ slides.caption }}{% if slides.alink %}&nbsp;<svg class="icon icon__white icon--readmore"><use xmlns:xlink="https://www.w3.org/1999/xlink" xlink:href="#icon-double_angle_right" /></svg></a>{% endif %}</p>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>
    {% endif %}

    <!-- Regular page promotions on front page -->
    {% for section in site.pages %}

    {% if section.frontpage %}

      {% if section.main_image_path %}
        <section class="gallery--cover has--cover" style="background-image: url({{ section.main_image_path }});">
      {% else %}
        <section class="gallery--cover has--cover" style="background-image: url('https://placekitten.com/g/1200/300');">
      {% endif %}

        <a href="{{ section.url | prepend: site.baseurl }}">

          <div class="scrim has--cover">
            <article class="gallery--front">
              <header class="gallery--header">
                <h2 class="cover--title mb0">{{ section.frontpagetitle }}</h2>
              </header>
              {% if section.homepage_description_markdown %}
                {{ section.homepage_description_markdown | markdownify }}
                <span class="post--readmore">Read more <span> <svg class="icon icon--post"><use xlink:href="#icon-double_angle_right" /></svg></span>

              {% endif %}
          </span>
        </article>
        </div>
        </a>
      </section>

    {% endif %}

  {% endfor %}

   <!-- Galleries -->
  {% for gallery in site.gallery %}

    {% if gallery.frontpage %}

      <section class="gallery--cover {% if gallery.main_image_path %}has--cover{% endif %}" {% if gallery.main_image_path %}style="background-image: url({{ gallery.main_image_path | prepend: gallery.baseurl }});"{% endif %}>

        <a href="{{ gallery.url }}">

          <div class="scrim {% if gallery.main_image_path %}has--cover{% endif %}">
            <article class="gallery--front">
              <header class="gallery--header">
                <h2 class="cover--title mb0">{{ gallery.title }}</h2>
              </header>
              {% if gallery.homepage_description_markdown %}
                {{ gallery.homepage_description_markdown | markdownify }} <span class="post--readmore">View gallery  <svg class="icon icon--post"><use xlink:href="#icon-double_angle_right" /></svg></span>
              {% endif %}
            </article>
          </div>
        </a>
      </section>

    {% endif %}

  {% endfor %}
