---
layout: home
main_image_path:
main_image_caption:
show_carousel: true
carousel:
  - image: /images/home_personal.jpg
    caption:
    alink: /personal/
  - image: /assets/images/slide_commissioned.jpg
    caption:
    alink: /community-commissioned/
  - image: /images/anjali-homepage.jpg
    caption:
    alink: /dance/
  - image: /assets/images/slide_theatre.jpg
    caption:
    alink: /theatre/
  - image: /assets/images/slide_music.jpg
    caption:
    alink: /music/
  - image: /assets/images/slide_portraits.jpg
    caption:
    alink: /portraits/
  - image: /images/links-homepage.jpg
    caption:
    alink: /links/
  - image: /assets/images/slide_intro.jpg
    caption:
    alink: /contact/
_options:
  layout:
    hidden: true
  main_image_path:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  image:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
_comments:
  main_image_path: Cover image
  main_image_caption: Alt text for cover image
  carousel: Edit the slideshow
  show_carouse: Show the slideshow
  show_blog: Show your latest posts on the homepage
  posts_number: How many posts to show
  alink: Optional web link from the slide
  caption: optional caption
---
  {% if page.main_image_path %}
  <!-- parallax picture please -->
    <figure>
    {% assign alt_text = page.title %}
    {% if page.main_image_caption %} {% assign alt_text = page.main_image_caption %} {% endif %}
    {% include img.html src=page.main_image_path alt=alt_text %}
    <figcaption>{{ alt_text }}</figcaption>
    </figure>
  {% endif %}

  <div class="editable">

  </div>

  {% if page.show_carousel and page.carousel %}

  <section class="slideshow">

    <div class="flexslider">
        <ul class="slides">
          {% for slides in page.carousel %}
          <li>
            {% if slides.alink %}
               <a href="{{ site.baseurl }}{{ slides.alink }}" title="View project">
            {% endif %}
            {% include img.html src=slides.image width=960 alt=slides.caption %}
            {% if slides.alink %}
              </a>
            {% endif %}
            {% if slides.caption %}
              <p class="flex-caption">{% if slides.alink %}<a href="{{ site.baseurl }}{{ slides.alink }}" title="View project">{% endif %}{{ slides.caption }}{% if slides.alink %}&nbsp;<svg class="icon icon__white icon--readmore"><use xmlns:xlink="https://www.w3.org/1999/xlink" xlink:href="#icon-double_angle_right" /></svg></a>{% endif %}</p>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>
    {% endif %}

      <div class="gallery--list centered large-12 columns">


        <div class="fpNav center small-6 large-1-5 columns"><a href="personal/"><img src="images/home_personal.jpg"  alt="personal projects" /></a><br />personal<br />projects</div>
        
      <div class="fpNav center small-6 large-1-5 columns"><a href="community-commissioned/"><img src="images/home_commissiioned.jpg"  alt="community commissioned photography" /></a><br />community<br />commissioned<br />projects</div>



     

      <div class="fpNav center small-6 large-1-5 columns"><a href="dance/"><img src="images/anjali-homepage.jpg"  alt="dance photography" /></a><br />dance</div>


      <div class="fpNav center small-6 large-1-5 columns"><a href="theatre/"><img src="images/home_theatre.jpg"  alt="theatre photography" /></a><br />theatre</div>

      <div class="fpNav center small-6 large-1-5 columns"><a href="music/"><img src="images/home_music.jpg" alt="music photography" /></a><br />music</div>


      <div class="fpNav center small-6 large-1-5 columns"><a href="portraits/"><img src="images/home_portraits.jpg" alt="portrait photography" /></a><br />portraits</div>

      <div class="fpNav center small-6 large-1-5 columns end"><a href="links/"><img src="images/links-homepage.jpg" alt="links" /></a><br />links</div>

       <div class="fpNav center small-6 large-1-5 columns"><a href="contact/"><img src="images/home_intro.jpg"  alt="contact" /></a><br />contact</div>

    </div><!-- end fpLinks -->

