// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.front {

    .page--content {
        @include grid-container;
         @include grid-media ($small) {

        }
    }
    .scrim {
        padding: 0 0 20em 0;
    }
    .gallery--front {
        padding: 0 1em 1em;
    }
    .gallery--list {

        @supports (display: grid) {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
        }
        font-size: small;
        line-height: 1.2em;
    }
}

.home {
    @include grid-media($large) { // half page width on 488px and above
        @include grid-column(3);
        padding-right: 60px;
    }
}
